form.couponEditor(enctype="multipart/form-data" method="POST" action="\#{action}")
  .couponEditor_signbord
    .couponEditor_titleArea
      .couponEditor_titleArea-title
        | クーポン情報
    .couponEditor_body
      .labeledRow
        label.labeledRow-header(for="title")
          | タイトル
        .labeledRow-body
          input#couponTitle(
            name="\#{toName CouponTitle}" type="text"
            value="\#{format CouponTitle coupon}"
          )

      .labeledRow
        label.labeledRow-header(for="validFrom")
          | 有効期限 (利用開始日)
        .labeledRow-body
          input#couponValidFrom(
            name="\#{toName CouponValidFrom}" type="date"
            value="\#{format CouponValidFrom coupon}"
          )

      .labeledRow
        label.labeledRow-header(for="validUntil")
          | 有効期限 (利用期限)
        .labeledRow-body
          input#couponExpire(
            name="\#{toName CouponValidUntil}" type="date"
            value="\#{format CouponValidUntil coupon}"
          )

      .labeledRow
        label.labeledRow-header(for="couponType")
          | 種別
        .labeledRow-body
          select#couponType(
            name="\#{toName CouponCouponType}"
            value="\#{key (format CouponCouponType coupon)}"
            data-select-child="type"
          )
            | %{ forall ctype <- allCouponTypes }
            option(
              value="\#{key ctype}"
              #{isSelected (Just (format CouponCouponType coupon)) ctype}
            )
              | \#{label ctype}
            | %{ endforall }

      .showOnFocus(id="type-\#{key CouponTypeDiscount}")
        .labeledRow
          label.labeledRow-header(for="discountPercent")
            | 割引率 (ご購入総額から xx% OFF)
          .labeledRow-body
            input#discountRate(
              name="\#{toName CouponDiscountPercent}" type="number"
              min="0" max="100"
              value="\#{format CouponDiscountPercent coupon}"
            )
        .labeledRow
          label.labeledRow-header(for="discountMinimumPrice")
            | 最低購入額 (xx円以上お買い上げのお客様のみ割引)
          .labeledRow-body
            input#discountMinimumFee(
              name="\#{toName CouponDiscountMinimumPrice}" type="number"
              min="0"
              value="\#{format CouponDiscountMinimumPrice coupon}"
            )
        .labeledRow
          label.labeledRow-header(for="discountOtherConditions")
            | その他のクーポン適用条件
          .labeledRow-body
            textarea#discountOtherConditions(
              name="\#{toName CouponDiscountOtherConditions}"
            )
              | %{forall condition <- format CouponDiscountOtherConditions coupon}
              p \#{condition}
              | %{endforall}

      .showOnFocus(id="type-\#{key CouponTypeGift}")
        .labeledRow
          label.labeledRow-header(for="giftContent")
            | プレゼント内容
          .labeledRow-body
            input#giftContent(
              name="\#{toName CouponGiftContent}" type="text"
              value="\#{format CouponGiftContent coupon}"
            )
        .labeledRow
          label.labeledRow-header(for="giftReferencePrice")
            | プレゼント参考価格 (非売品の場合は記入しないでください)
          .labeledRow-body
            input#giftReferencePrice(
              name="\#{toName CouponGiftReferencePrice}" type="number"
              min="0"
              value!='\#{format CouponGiftReferencePrice coupon}'
            )
        .labeledRow
          label.labeledRow-header(for="giftMinimumPrice")
            | 最低購入額 (xx円以上お買い上げのお客様にプレゼント)
          .labeledRow-body
            input#giftMinimumFee(
              name="\#{toName CouponGiftMinimumPrice}" type="number"
              min="0"
              value!='\#{format CouponGiftMinimumPrice coupon}'
            )
        .labeledRow
          label.labeledRow-header(for="giftOtherConditions")
            | その他のクーポン適用条件
          .labeledRow-body
            textarea#giftOtherConditions(
              name="\#{toName CouponGiftOtherConditions}"
            )
              | %{forall condition <- format CouponGiftOtherConditions coupon}
              p \#{condition}
              | %{endforall}

      .showOnFocus(id="type-\#{key CouponTypeSet}")
        .labeledRow
          label.labeledRow-header(for="setContent")
            | セット内容
          .labeledRow-body
            textarea#setContent(
              name="\#{toName CouponSetContent}"
            )
              | \#{format CouponSetContent coupon}
        .labeledRow
          label.labeledRow-header(for="setPrice")
            | セット価格
          .labeledRow-body
            input#setPrice(
              name="\#{toName CouponSetPrice}" type="number"
              min="0"
              value!='\#{format CouponSetPrice coupon}'
            )
        .labeledRow
          label.labeledRow-header(for="setReferencePrice")
            | セット参考価格 (非売品の場合は記入しないでください)
          .labeledRow-body
            input#setReferencePrice(
              name="\#{toName CouponSetReferencePrice}" type="number"
              min="0"
              value!='\#{format CouponSetReferencePrice coupon}'
            )
        .labeledRow
          label.labeledRow-header(for="setOtherConditions")
            | その他のクーポン適用条件
          .labeledRow-body
            textarea#setOtherConditions(
              name="\#{toName CouponSetOtherConditions}"
            )
              | %{forall condition <- format CouponSetOtherConditions coupon}
              p \#{condition}
              | %{endforall}

      .showOnFocus(id="type-\#{key CouponTypeOther}")
        .labeledRow
          label.labeledRow-header(for="otherContent")
            | クーポン内容
          .labeledRow-body
            textarea#otherContent(
              name="\#{toName CouponOtherContent}"
            )
              | \#{format CouponOtherContent coupon}
        .labeledRow
          label.labeledRow-header(for="otherConditions")
            | クーポン適用条件
          .labeledRow-body
            textarea#otherConditions(
              name="\#{toName CouponOtherConditions}"
            )
              | %{forall condition <- format CouponOtherConditions coupon}
              | \#{condition}
              | %{endforall}
      .couponSubmit
        button.btn.outerBtn(type="submit")
          | この内容で店舗情報を更新する

