include ../common/_layout
  body#main.wrapper
    include _header
      | クーポン情報 編集
    include ../common/_messageArea
    | %{ case mdata }
    | %{ of Just coupon }
    form.couponEditor(enctype="multipart/form-data" method="POST" action="\#{action}")
      .couponEditor_signbord
        .couponEditor_titleArea
          .couponEditor_titleArea-title
            | クーポン情報
        .couponEditor_body
          .labeledRow
            label.labeledRow-header(for="title")
              | タイトル
            .labeledRow-body
              input#couponTitle(
                name="title" type="text"
                value="\#{format Title coupon}"
              )

          .labeledRow
            label.labeledRow-header(for="validFrom")
              | 有効期限 (利用開始日)
            .labeledRow-body
              input#couponValidFrom(
                name="validFrom" type="date"
                value="\#{format ValidFrom coupon}"
              )

          .labeledRow
            label.labeledRow-header(for="validUntil")
              | 有効期限 (利用期限)
            .labeledRow-body
              input#couponExpire(
                name="validUntil" type="date"
                value="\#{format ValidUntil coupon}"
              )

          .labeledRow
            label.labeledRow-header(for="couponType")
              | 種別
            .labeledRow-body
              select#couponType(
                name="couponType"
                value="\#{key (format CouponType coupon)}"
                data-select-child="type"
              )
                | %{ forall ctype <- allCouponTypes }
                option(
                  value="\#{key ctype}"
                  #{isSelected (Just (format CouponType coupon)) ctype}
                )
                  | \#{label ctype}
                | %{ endforall }

          .showOnFocus(id="type-\#{key CouponTypeDiscount}")
            .labeledRow
              label.labeledRow-header(for="discountPercent")
                | 割引率 (ご購入総額から xx% OFF)
              .labeledRow-body
                input#discountRate(
                  name="discountPercent" type="number"
                  min="0" max="100"
                  value="\#{format DiscountPercent coupon}"
                )
            .labeledRow
              label.labeledRow-header(for="discountMinimumPrice")
                | 最低購入額 (xx円以上お買い上げのお客様のみ割引)
              .labeledRow-body
                input#discountMinimumFee(
                  name="discountMinimumPrice" type="number"
                  min="0"
                  value="\#{format DiscountMinimumPrice coupon}"
                )
            .labeledRow
              label.labeledRow-header(for="discountOtherConditions")
                | その他のクーポン適用条件
              .labeledRow-body
                textarea#discountOtherConditions(
                   name="discountOtherConditions"
                )
                  | %{forall condition <- format DiscountOtherConditions coupon}
                  p \#{condition}
                  | %{endforall}

          .showOnFocus(id="type-\#{key CouponTypeGift}")
            .labeledRow
              label.labeledRow-header(for="giftContent")
                | プレゼント内容
              .labeledRow-body
                input#giftContent(
                  name="giftContent" type="text"
                  value="\#{format GiftContent coupon}"
                )
            .labeledRow
              label.labeledRow-header(for="giftReferencePrice")
                | プレゼント参考価格 (非売品の場合は記入しないでください)
              .labeledRow-body
                input#giftReferencePrice(
                  name="giftReferencePrice" type="number"
                  min="0"
                  value!='\#{format GiftReferencePrice coupon}'
                )
            .labeledRow
              label.labeledRow-header(for="giftMinimumPrice")
                | 最低購入額 (xx円以上お買い上げのお客様にプレゼント)
              .labeledRow-body
                input#giftMinimumFee(
                  name="giftMinimumPrice" type="number"
                  min="0"
                  value!='\#{format GiftMinimumPrice coupon}'
                )
            .labeledRow
              label.labeledRow-header(for="giftOtherConditions")
                | その他のクーポン適用条件
              .labeledRow-body
                textarea#giftOtherConditions(
                   name="giftOtherConditions"
                )
                  | %{forall condition <- format GiftOtherConditions coupon}
                  p \#{condition}
                  | %{endforall}

          .showOnFocus(id="type-\#{key CouponTypeSet}")
            .labeledRow
              label.labeledRow-header(for="setContent")
                | セット内容
              .labeledRow-body
                textarea#setContent(
                  name="setContent"
                )
                  | \#{format SetContent coupon}
            .labeledRow
              label.labeledRow-header(for="setPrice")
                | セット価格
              .labeledRow-body
                input#setPrice(
                  name="setPrice" type="number"
                  min="0"
                  value!='\#{format SetPrice coupon}'
                )
            .labeledRow
              label.labeledRow-header(for="setReferencePrice")
                | セット参考価格 (非売品の場合は記入しないでください)
              .labeledRow-body
                input#setReferencePrice(
                  name="setReferencePrice" type="number"
                  min="0"
                  value!='\#{format SetReferencePrice coupon}'
                )
            .labeledRow
              label.labeledRow-header(for="setOtherConditions")
                | その他のクーポン適用条件
              .labeledRow-body
                textarea#setOtherConditions(
                   name="setOtherConditions"
                )
                  | %{forall condition <- format SetOtherConditions coupon}
                  p \#{condition}
                  | %{endforall}

          .showOnFocus(id="type-\#{key CouponTypeOther}")
            .labeledRow
              label.labeledRow-header(for="otherContent")
                | クーポン内容
              .labeledRow-body
                textarea#otherContent(
                  name="otherContent"
                )
                  | \#{format OtherContent coupon}
            .labeledRow
              label.labeledRow-header(for="otherConditions")
                | クーポン適用条件
              .labeledRow-body
                textarea#otherConditions(
                   name="otherConditions"
                )
                  | %{forall condition <- format OtherConditions coupon}
                  | \#{condition}
                  | %{endforall}
          .couponSubmit
            button.btn.outerBtn(type="submit")
              | この内容で店舗情報を更新する
    | %{ of Nothing }
    | No coupon found.
    | %{ endcase }
