- var data = htmlWebpackPlugin.options.data;
include ../common/_layout
  body#main.wrapper
    include _header
      | 店舗情報
    include ../common/_messageArea
    | %{ case mdata }
    | %{ of Just store }

    .store
      .store_editBtn
        a.btn.outerBtn(href="\#{renderRoute storeEditR}") 店舗情報編集
      header.storeHeader
        .annotatedImageGroup
          img.annotatedImageGroup-image(
            src="\#{format StoreImageUrl store}"
            alt!='\#{format StoreName store}'
          )
          span.annotatedImageGroup-annotation 画像は一例です
        .highlightedBlock
          h2.highlightedBlock.storeHeader-title
            | \#{format StoreName store}
      .storeBody
        .storeBody_description
          p \#{format StoreSalesPoint store}
        .storeBody_couponBtn
          a.btn.defaultBtn(href="\#{renderRoute storeCouponR}") クーポン一覧
        .storeBody_info
          .storeBody_info_titleArea
            .storeBody_info_titleArea-text
              | 店舗情報
          .storeBody_info_body
            .storeBody_info_body_row
              .storeBody_info_body_row-header
                | カテゴリ
              .storeBody_info_body_row-body
                | \#{ label (format StoreBusinessCategory store)}
            .storeBody_info_body_row
              .storeBody_info_body_row-header
                | 店舗の特徴
              .storeBody_info_body_row-body.simpleTagWrapper
                | %{ forall businessCategoryDetail <- format StoreBusinessCategoryDetails store }
                .simpleTag
                  | \#{ label businessCategoryDetail }
                | %{ endforall }
            .storeBody_info_body_row
              .storeBody_info_body_row-header
                | 住所
              .storeBody_info_body_row-body
                .storeBody_info_body_row-body-address
                  | \#{format StoreAddress store}
                .storeBody_info_body_row-body-map
                  iframe.location_map-frame.js-googleMap(
                    frameborder="0"
                    allowfullscreen
                    data-api-key=data.googleMapApiKey
                    data-address!="\#{format StoreAddress store}"
                  )
            .storeBody_info_body_row
              .storeBody_info_body_row-header
                | 電話番号
              .storeBody_info_body_row-body
                | \#{format StorePhoneNumber store}
            .storeBody_info_body_row
              .storeBody_info_body_row-header
                | 営業時間
              .storeBody_info_body_row-body
                | %{ forall businessHour <- format StoreBusinessHour store }
                p
                  | \#{businessHour}
                | %{ endforall }
            .storeBody_info_body_row
              .storeBody_info_body_row-header
                | 定休日
              .storeBody_info_body_row-body
                | \#{format StoreRegularHoliday store}
            .storeBody_info_body_btnRow
              a.btn.outerBtn(href="\#{format StoreUrl store}") オフィシャルサイト

    | %{ of Nothing }
    | No store info.
    | %{ endcase }



