- var data = htmlWebpackPlugin.options.data;
include ../common/_layout
  body#main.wrapper
    include _header
      | 店舗情報 編集
    include ../common/_messageArea
    form.store(enctype="multipart/form-data" method="POST")
      | %{ case mdata }
      | %{ of Just store }
      .storeBody
        .storeBody_info
          .storeBody_info_titleArea
            .storeBody_info_titleArea-text
              | 店舗情報
          .storeBody_info_body
            .storeBody_info_body_row
              .storeBody_info_body_row-header
                | 店舗名
              .storeBody_info_body_row-body
                input#storeName(
                  name="name" type="text"
                  value="\#{format StoreName store}"
                )
            .storeBody_info_body_row
              .storeBody_info_body_row-header
                | カテゴリ
              .storeBody_info_body_row-body
                select#storeBusinessCategory(
                  name="businessCategory"
                  data-select-child="subcateg"
                )
                  option(value="" disabled)
                  | %{ forall category <- allBusinessCategories }
                  option(
                    value="\#{key category}"
                    \#{isSelected (Just (format StoreBusinessCategory store)) category}
                  )
                    | \#{label category}
                  | %{ endforall }
            .storeBody_info_body_row
              .storeBody_info_body_row-header
                | 店舗の特徴
              .storeBody_info_body_row-body
                .checkboxGroup
                  | %{ forall categoryDetail <- (allBusinessCategoryDetails Nothing) }
                  .checkboxWrapper
                    input.checkbox(
                      id="storeTagsCommon-\#{key categoryDetail}"
                      type="checkbox" name="businessCategoryDetails"
                      value="\#{key categoryDetail}"
                      #{isChecked (format StoreBusinessCategoryDetails store) categoryDetail}
                    )
                    label.checkboxLabel(for="storeTagsCommon-\#{key categoryDetail}")
                      | \#{label categoryDetail}
                  | %{ endforall }
                | %{ forall category <- allBusinessCategories }
                .checkboxGroup.showOnFocus(
                  id="subcateg-\#{key category}"
                )
                  | %{ forall categoryDetail <- (allBusinessCategoryDetails (Just category))  }
                  .checkboxWrapper
                    input.checkbox(
                      id="storeTags\#{key category}-\#{key categoryDetail}"
                      type="checkbox" name="businessCategoryDetails"
                      value="\#{key categoryDetail}"
                      #{isChecked (format StoreBusinessCategoryDetails store) categoryDetail}
                    )
                    label.checkboxLabel(for="storeTags\#{key category}-\#{key categoryDetail}")
                      | \#{label categoryDetail}
                  | %{ endforall }
                | %{ endforall }
            .storeBody_info_body_row
              .storeBody_info_body_row-header
                | 店舗の説明
              .storeBody_info_body_row-body
                textarea#storeSalesPoint(
                  name="salesPoint"
                  type="text"
                )
                  | \#{format StoreSalesPoint store}
            .storeBody_info_body_row
              .storeBody_info_body_row-header
                | 住所
              .storeBody_info_body_row-body
                .storeBody_info_body_row-body-address
                  input#storeAddress(
                    name="address" type="text"
                    value="\#{format StoreAddress store}"
                  )
                .storeBody_info_body_row-body-map#js-map-frame-wrapper
                  iframe.location_map-frame.js-googleMap(
                    frameborder="0"
                    allowfullscreen
                    data-api-key=data.googleMapApiKey
                    data-address!="\#{format StoreAddress store}"
                  )
            .storeBody_info_body_row
              .storeBody_info_body_row-header
                | 電話番号
              .storeBody_info_body_row-body
                input#storePhoneNumber(
                  name="phoneNumber" type="text"
                  value="\#{format StorePhoneNumber store}"
                )
            .storeBody_info_body_row
              .storeBody_info_body_row-header
                | 営業時間
              .storeBody_info_body_row-body
                textarea#storeBusinessHours(
                  name="businessHours" type="text"
                )
                  | %{ forall hour <- format StoreBusinessHour store }
                  | \#{hour}
                  | %{ endforall }
            .storeBody_info_body_row
              .storeBody_info_body_row-header
                | 定休日
              .storeBody_info_body_row-body
                textarea#storeRegularHoliday(
                  name="regularHoliday" type="text"
                )
                  | \#{format StoreRegularHoliday store}
            .storeBody_info_body_row
              .storeBody_info_body_row-header
                | オフィシャルサイト
              .storeBody_info_body_row-body
                input#storeUrl(
                  name="url" type="url"
                  value="\#{format StoreUrl store}"
                )
            .storeBody_info_body_row
              .storeBody_info_body_row-header
                | 店舗イメージ画像
              .storeBody_info_body_row-body
                .uploaderWrapper.js-imageSelector
                  input#storeImageSelector.uploaderCore.js-imageSelectorCore(
                    name="image" type="file" accept="image/*"
                  )
                  input#defaultImage.js-imageSelectorDefaultImage(
                    name="defaultImage" type="hidden" value="\#{format StoreDefaultImage store}"
                  )
                  label#storeImageLabel.uploaderLabel
                  button.uploaderReset#resetImage(type="button")
                    | Restore initial image.
                  img#storeImage.uploaderImg.storeBody_info_body_row-body-image(
                    src="\#{format StoreImageUrl store}"
                  )
            .storeSubmit
              button.btn.outerBtn(type="submit")
                | この内容で店舗情報を更新する
      | %{ of Nothing }
      | No store info.
      | %{ endcase }
