- var data = htmlWebpackPlugin.options.data;
.coupon
  .card
    .card_header
      h2.card_header_text \#{maybe "(no title)" (storeName . entityVal) maybeStoreEntity}
      .card_header_icon
        .icon.icon-fav.checkableIcon
          input#js-fav-3.checkableIcon-check.js-fav(type="checkbox" data-coupon-id="\#{fromSqlKey couponKey}")
          label.checkableIcon-icon(for="js-fav-3")

    .annotatedImageGroup
      img.annotatedImageGroup-image(
        src="\#{fromMaybe mempty maybeImageUrl}"
        alt="七輪焼き肉・安安"
      )
      span.annotatedImageGroup-annotation 画像は一例です
    .card_body
      .card_body_title
        | \#{couponTitle coupon}

      .card_body_summary.highlightedBlock
        | %{ case couponCouponType coupon }
        | %{ of CouponTypeDiscount }
        |     %{ case couponDiscountPercent coupon }
        |     %{ of Just discountPercent }
        span.highlightedBlock-sub \#{discountPercent}% OFF
        |     %{ of Nothing }
        |     %{ endcase }

        |     %{ case couponDiscountMinimumPrice coupon }
        |     %{ of Just discountMinimumPrice }
        span.highlightedBlock-main \#{discountMinimumPrice}円
        |     %{ of Nothing }
        |     %{ endcase }

        | %{ of CouponTypeGift }
        |     %{ case couponGiftContent coupon }
        |     %{ of Just giftContent }
        span.highlightedBlock-sub \#{giftContent}
        |     %{ of Nothing }
        |     %{ endcase }

        |     %{ case couponGiftMinimumPrice coupon }
        |     %{ of Just giftMinimumPrice }
        span.highlightedBlock-main \#{giftMinimumPrice}円
        |     %{ of Nothing }
        |     %{ endcase }

        |     %{ case couponGiftReferencePrice coupon }
        |     %{ of Just giftReferencePrice }
        span.highlightedBlock-main \#{giftReferencePrice}円
        |     %{ of Nothing }
        |     %{ endcase }

        | %{ of CouponTypeSet }
        |     %{ case couponSetContent coupon }
        |     %{ of Just setContent }
        span.highlightedBlock-sub \#{setContent}
        |     %{ of Nothing }
        |     %{ endcase }

        |     %{ case couponSetPrice coupon }
        |     %{ of Just setPrice }
        span.highlightedBlock-main \#{setPrice}円
        |     %{ of Nothing }
        |     %{ endcase }

        |     %{ case couponSetReferencePrice coupon }
        |     %{ of Just setReferencePrice }
        span.highlightedBlock-main \#{setReferencePrice}円
        |     %{ of Nothing }
        |     %{ endcase }

        | %{ of CouponTypeOther }
        |     %{ case couponOtherContent coupon }
        |     %{ of Just otherContent }
        span.highlightedBlock-sub \#{otherContent}
        |     %{ of Nothing }
        |     %{ endcase }

        | %{ endcase }


      .card_body_expiration
        span.card_body_expiration-title
          | 有効期限
        span.card_body_expiration-body
          | %{ case couponValidFrom coupon }
          | %{ of Just validFrom }
          | \#{tshow validFrom}から
          | %{ of Nothing }
          | %{ endcase }

          | %{ case couponValidUntil coupon }
          | %{ of Just validUntil }
          | \#{tshow validUntil}まで
          | %{ of Nothing }
          | %{ endcase }
  .annotation ※ この画面を店舗でご提示ください
  .location
    .location_map
      | %{ case (join . fmap (storeAddress . entityVal)) maybeStoreEntity }
      | %{ of Just address }
      iframe.location_map-frame(
        frameborder="0"
        allowfullscreen
        src='https://www.google.com/maps/embed/v1/place?key=' + data.googleMapApiKey + '&q=\#{address}'
      )
      | %{ of Nothing }
      | No address is set
      | %{ endcase }
  .aboutStore
    a.btn.outerBtn(href="\#{renderRoute storeR}") \#{maybe "(no title)" (storeName . entityVal) maybeStoreEntity}
  .moreContents
    | %{ case couponCouponType coupon }
    | %{ of CouponTypeDiscount }
    |     %{ case couponDiscountOtherConditions coupon }
    |     %{ of Just discountOtherConditions }
    |         %{ forall condition <- lines discountOtherConditions }
    p.moreContents_txt \#{condition}
    |         %{ endforall }
    |     %{ of Nothing }
    |     %{ endcase }

    | %{ of CouponTypeGift }
    |     %{ case couponGiftOtherConditions coupon }
    |     %{ of Just giftOtherConditions }
    |         %{ forall condition <- lines giftOtherConditions }
    p.moreContents_txt \#{condition}
    |         %{ endforall }
    |     %{ of Nothing }
    |     %{ endcase }

    | %{ of CouponTypeSet }
    |     %{ case couponSetOtherConditions coupon }
    |     %{ of Just setOtherConditions }
    |         %{ forall condition <- lines setOtherConditions }
    p.moreContents_txt \#{condition}
    |         %{ endforall }
    |     %{ of Nothing }
    |     %{ endcase }

    | %{ of CouponTypeOther }
    |     %{ case couponOtherConditions coupon }
    |     %{ of Just otherConditions }
    |         %{ forall condition <- lines otherConditions }
    p.moreContents_txt \#{condition}
    |         %{ endforall }
    |     %{ of Nothing }
    |     %{ endcase }
    | %{ endcase }
