header.header
  .home.showMenu
    input#storeHeaderShowMenu.showMenu_checkbox(type="checkbox")
    label.showMenu_label(for="storeHeaderShowMenu")
      img.showMenu_label-image(src=require("../img/hamburger.svg"))
    .sideMenu
      .sideMenu_hide
        label.sideMenu_hide-text(for="storeHeaderShowMenu")
      a.btn.outerBtn(href="\#{renderRoute storeR}") 店舗情報
      a.btn.outerBtn(href="\#{renderRoute storeCouponR}") クーポン一覧

  h1.title
    yield
  .icons
    a.icon.icon-me(href="\#{renderRoute storeR}")
      img(src=require("../img/me.svg"))
