include _layout
  body#main.wrapper
    include _adminHeader
      | 店舗ユーザ削除
    include _messageArea
    .admin
      .adminBody
        .signboard_titleArea
          .signboard_titleArea-title
            | 店舗ユーザの削除
        form.signboard_body(
          method="POST"
          action="\#{renderRoute adminStoreDeleteR}"
        )
          .row
            | 「\#{storeName}」を削除しますか？
          .labeledRow
            label.labeledRow-header(for="storeEmail")

              | 確認のため
              span.strong \#{storeName}
              | と入力してください
            .labeledRow-body
              input#storeName(
                name="storeName" type="text"
                required
              )
          .submitRow
            button.btn.outerBtn(type="submit")
              | この店舗ユーザを削除

