- var data = htmlWebpackPlugin.options.data;
include _layout
  body#main.wrapper
    include _storeHeader
      | 店舗情報
    include _messageArea
    .store
      .store_editBtn
        a.btn.outerBtn(href="\#{renderRoute storeEditR}") 店舗情報編集
      header.storeHeader
        .annotatedImageGroup
          img.annotatedImageGroup-image(
            src="\#{fromMaybe mempty imageUrl}"
            alt!='\#{fromMaybe "(no name)" name}'
          )
          span.annotatedImageGroup-annotation 画像は一例です
        .highlightedBlock
          h2.highlightedBlock.storeHeader-title
            | \#{fromMaybe "(no name)" name}
      .storeBody
        .storeBody_description
          p \#{ fromMaybe mempty salesPoint }
        .storeBody_couponBtn
          a.btn.defaultBtn(href="\#{renderRoute storeCouponR}") クーポン一覧
        .storeBody_info
          .storeBody_info_titleArea
            .storeBody_info_titleArea-text
              | 店舗情報
          .storeBody_info_body
            .storeBody_info_body_row
              .storeBody_info_body_row-header
                | カテゴリ
              .storeBody_info_body_row-body
                | \#{ label (fromMaybe minBound businessCategory) }
            .storeBody_info_body_row
              .storeBody_info_body_row-header
                | 店舗の特徴
              .storeBody_info_body_row-body.simpleTagWrapper
                | %{ forall businessCategoryDetail <- businessCategoryDetails }
                .simpleTag
                  | \#{ label businessCategoryDetail }
                | %{ endforall }
            .storeBody_info_body_row
              .storeBody_info_body_row-header
                | 住所
              .storeBody_info_body_row-body
                .storeBody_info_body_row-body-address
                  | \#{ fromMaybe mempty address }
                .storeBody_info_body_row-body-map
                  | %{ case address }
                  | %{ of Just address }
                  iframe.location_map-frame(
                    frameborder="0"
                    allowfullscreen
                    src='https://www.google.com/maps/embed/v1/place?key=' + data.googleMapApiKey + '&q=\#{address}'
                  )
                  | %{ of Nothing }
                  | %{ endcase }
            .storeBody_info_body_row
              .storeBody_info_body_row-header
                | 電話番号
              .storeBody_info_body_row-body
                | \#{ fromMaybe mempty phoneNumber }
            .storeBody_info_body_row
              .storeBody_info_body_row-header
                | 営業時間
              .storeBody_info_body_row-body
                | %{ forall businessHourLine <- businessHourLines }
                p
                  | \#{ businessHourLine }
                | %{ endforall }
            .storeBody_info_body_row
              .storeBody_info_body_row-header
                | 定休日
              .storeBody_info_body_row-body
                | \#{ fromMaybe mempty regularHoliday }
            .storeBody_info_body_btnRow
              a.btn.outerBtn(href="\#{ fromMaybe mempty url }") オフィシャルサイト
