include _layout
  body#main.wrapper
    include _storeHeader
      | クーポン情報 編集
    include _messageArea
    form.couponEditor(enctype="multipart/form-data" method="POST" action="/store/coupon")
      .couponEditor_signbord
        .couponEditor_titleArea
          .couponEditor_titleArea-title
            | クーポン情報
        .couponEditor_body
          .labeledRow
            label.labeledRow-header(for="title")
              | タイトル
            .labeledRow-body
              input#couponTitle(
                name="title" type="text"
                value="\#{fromMaybe mempty title}"
              )
          .labeledRow
            label.labeledRow-header(for="image")
              | イメージ画像
            .labeledRow-body
              input#couponImage(
                name="image" type="file"
                accept="image/*"
              )
              img.labeledRow-body-image(src="./img/dummy.jpg")

          .labeledRow
            label.labeledRow-header(for="validFrom")
              | 有効期限 (利用開始日)
            .labeledRow-body
              input#couponValidFrom(
                name="validFrom" type="date"
                value="\#{fromMaybe mempty validFrom}"
              )

          .labeledRow
            label.labeledRow-header(for="validUntil")
              | 有効期限 (利用期限)
            .labeledRow-body
              input#couponExpire(
                name="validUntil" type="date"
                value="\#{fromMaybe mempty validUntil}"
              )

          .labeledRow
            label.labeledRow-header(for="couponType")
              | 種別
            .labeledRow-body
              select#couponType(
                name="couponType"
                value="\#{fromMaybe mempty couponType}"
              )
                option(value="\#{couponTypeToText CouponTypeDiscount}")
                  | 購入額から割引
                option(value="\#{couponTypeToText CouponTypeGift}")
                  | 購入者プレゼント
                option(value="\#{couponTypeToText CouponTypeSet}")
                  | 特別セット
                option(value="\#{couponTypeToText CouponTypeOther}")
                  | その他クーポン


          #js-couponDiscount.js-invisible
            .labeledRow
              label.labeledRow-header(for="discountPercent")
                | 割引率 (ご購入総額から xx% OFF)
              .labeledRow-body
                input#discountRate(
                  name="discountPercent" type="number"
                  min="0" max="100"
                  value="\#{fromMaybe mempty discountPercent}"
                )
            .labeledRow
              label.labeledRow-header(for="discountMinimumPrice")
                | 最低購入額 (xx円以上お買い上げのお客様のみ割引)
              .labeledRow-body
                input#discountMinimumFee(
                  name="discountMinimumPrice" type="number"
                  min="0"
                  value="\#{fromMaybe mempty discountMinimumPrice}"
                )
            .labeledRow
              label.labeledRow-header(for="discountOtherConditions")
                | その他のクーポン適用条件
              .labeledRow-body
                textarea#discountOtherConditions(
                   name="discountOtherConditions"
                )
                  | \#{fromMaybe mempty discountOtherConditions}

          #js-couponGift.js-invisible
            .labeledRow
              label.labeledRow-header(for="giftContent")
                | プレゼント内容
              .labeledRow-body
                input#giftContent(
                  name="giftContent" type="text"
                  value="\#{fromMaybe mempty giftContent}"
                )
            .labeledRow
              label.labeledRow-header(for="giftReferencePrice")
                | プレゼント参考価格 (非売品の場合は記入しないでください)
              .labeledRow-body
                input#giftReferencePrice(
                  name="giftReferencePrice" type="number"
                  min="0"
                  value!='\#{fromMaybe "30" giftReferencePrice}'
                )
            .labeledRow
              label.labeledRow-header(for="giftMinimumPrice")
                | 最低購入額 (xx円以上お買い上げのお客様にプレゼント)
              .labeledRow-body
                input#giftMinimumFee(
                  name="giftMinimumPrice" type="number"
                  min="0"
                  value!='\#{fromMaybe "30" giftMinimumPrice}'
                )
            .labeledRow
              label.labeledRow-header(for="giftOtherConditions")
                | その他のクーポン適用条件
              .labeledRow-body
                textarea#giftOtherConditions(
                   name="giftOtherConditions"
                )
                  | \#{fromMaybe mempty giftOtherConditions}

          #js-couponSet.js-invisible
            .labeledRow
              label.labeledRow-header(for="setContent")
                | セット内容
              .labeledRow-body
                textarea#setContent(
                  name="setContent"
                )
                  | \#{fromMaybe mempty setContent}
            .labeledRow
              label.labeledRow-header(for="setPrice")
                | セット価格
              .labeledRow-body
                input#setPrice(
                  name="setPrice" type="number"
                  min="0"
                  value!='\#{fromMaybe "3000" setPrice}'
                )
            .labeledRow
              label.labeledRow-header(for="setReferencePrice")
                | セット参考価格 (非売品の場合は記入しないでください)
              .labeledRow-body
                input#setReferencePrice(
                  name="setReferencePrice" type="number"
                  min="0"
                  value!='\#{fromMaybe "4000" setReferencePrice}'
                )
            .labeledRow
              label.labeledRow-header(for="setOtherConditions")
                | その他のクーポン適用条件
              .labeledRow-body
                textarea#setOtherConditions(
                   name="setOtherConditions"
                )
                  | \#{fromMaybe mempty setOtherConditions}

          #js-couponOther.js-invisible
            .labeledRow
              label.labeledRow-header(for="otherContent")
                | クーポン内容
              .labeledRow-body
                textarea#otherContent(
                  name="otherContent"
                )
                  | \#{fromMaybe mempty otherContent}
            .labeledRow
              label.labeledRow-header(for="otherConditions")
                | クーポン適用条件
              .labeledRow-body
                textarea#otherConditions(
                   name="otherConditions"
                )
                  | \#{fromMaybe mempty otherConditions}
          .couponSubmit
            button.btn.outerBtn(type="submit")
              | この内容で店舗情報を更新する
    script
      | var showByCouponType = function () {
      |   var selected = document.getElementById("couponType").value;
      |   Array.prototype.slice.call(
      |     document.getElementsByClassName("js-visible") || []
      |   ).forEach(function (elem){
      |     elem.classList.remove("js-visible");
      |     elem.classList.add("js-invisible");
      |   });
      |   var toShow = {
      |     "\#{couponTypeToText CouponTypeDiscount}": document.getElementById("js-couponDiscount"),
      |     "\#{couponTypeToText CouponTypeGift}": document.getElementById("js-couponGift"),
      |     "\#{couponTypeToText CouponTypeSet}": document.getElementById("js-couponSet"),
      |     "\#{couponTypeToText CouponTypeOther}": document.getElementById("js-couponOther")
      |   }[selected];
      |   toShow.classList.remove("js-invisible");
      |   toShow.classList.add("js-visible");
      | };
      | document.getElementById("couponType").addEventListener("change", showByCouponType, false);
      | showByCouponType();
