include _layout
  body#main.wrapper
    include _storeHeader
      | 店舗情報 編集
    include _messageArea
    form.store(enctype="multipart/form-data" method="POST")
      .storeBody
        .storeBody_info
          .storeBody_info_titleArea
            .storeBody_info_titleArea-text
              | 店舗情報
          .storeBody_info_body
            .storeBody_info_body_row
              .storeBody_info_body_row-header
                | 店舗名
              .storeBody_info_body_row-body
                input#storeName(
                  name="name" type="text"
                  value="\#{ fromMaybe mempty name }"
                )
            .storeBody_info_body_row
              .storeBody_info_body_row-header
                | カテゴリ
              .storeBody_info_body_row-body
                select#storeBusinessCategory(
                  name="businessCategory"
                )
                  option(value="" disabled)
                  | %{ forall category <- allBusinessCategories }
                  option(value="\#{key category}" #{isSelected businessCategory category}) \#{label category}
                  | %{ endforall }
            .storeBody_info_body_row
              .storeBody_info_body_row-header
                | 店舗の特徴
              | %{ forall category <- allBusinessCategories }
              .storeBody_info_body_row-body.checkboxGroup(data-subcategory-of="\#{key category}")
                | %{ forall categoryDetail <- mappend (allBusinessCategoryDetails (Just category)) (allBusinessCategoryDetails Nothing) }
                .checkboxWrapper
                  input.checkbox(
                    id="storeTags\#{key category}-\#{key categoryDetail}"
                    type="checkbox" name="businessCategoryDetails"
                    value="\#{key categoryDetail}"
                    #{isChecked businessCategoryDetails categoryDetail}
                  )
                  label.checkboxLabel(for="storeTags\#{key category}-\#{key categoryDetail}")
                    | \#{label categoryDetail}
                | %{ endforall }
              | %{ endforall }
            .storeBody_info_body_row
              .storeBody_info_body_row-header
                | 店舗の説明
              .storeBody_info_body_row-body
                textarea#storeSalesPoint(
                  name="salesPoint"
                  type="text"
                )
                  | \#{ fromMaybe mempty salesPoint }
            .storeBody_info_body_row
              .storeBody_info_body_row-header
                | 住所
              .storeBody_info_body_row-body
                .storeBody_info_body_row-body-address
                  input#storeAddress(
                    name="address" type="text"
                    value="\#{ fromMaybe mempty address }"
                  )
                .storeBody_info_body_row-body-map(data-latitude="41.40243" data-longitude="2.17551")
                  iframe.location_map-frame(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6483.579410111866!2d139.6998074!3d35.6575525!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b59d79dd993%3A0xdef2b8ece045887e!2z5LiD6Lyq54S86IKJIOWuieWuiSDmuIvosLflupc!5e0!3m2!1sja!2sjp!4v1471871614830" frameborder="0" style="border:0" allowfullscreen)
            .storeBody_info_body_row
              .storeBody_info_body_row-header
                | 電話番号
              .storeBody_info_body_row-body
                input#storePhoneNumber(
                  name="phoneNumber" type="text"
                  value="\#{ fromMaybe mempty phoneNumber }"
                )
            .storeBody_info_body_row
              .storeBody_info_body_row-header
                | 営業時間
              .storeBody_info_body_row-body
                textarea#storeBusinessHours(
                  name="businessHours" type="text"
                )
                  | %{ forall businessHourLine <- businessHourLines }
                  | \#{ businessHourLine }
                  | %{ endforall }
            .storeBody_info_body_row
              .storeBody_info_body_row-header
                | 定休日
              .storeBody_info_body_row-body
                textarea#storeRegularHoliday(
                  name="regularHoliday" type="text"
                )
                  | \#{ fromMaybe mempty regularHoliday }
            .storeBody_info_body_row
              .storeBody_info_body_row-header
                | オフィシャルサイト
              .storeBody_info_body_row-body
                input#storeUrl(
                  name="url" type="url"
                  value="\#{ fromMaybe mempty url }"
                )
            .storeBody_info_body_row
              .storeBody_info_body_row-header
                | 店舗イメージ画像
              .storeBody_info_body_row-body
                input#storeImage(
                  name="image" type="file"
                )
                img.storeBody_info_body_row-body-image(src="./img/dummy.jpg")
            .storeSubmit
              button.btn.outerBtn(type="submit")
                | この内容で店舗情報を更新する
