- var data = htmlWebpackPlugin.options.data;
include _layout
  body#main.wrapper
    include _storeHeader
      | 店舗情報 編集
    include _messageArea
    form.store(enctype="multipart/form-data" method="POST")
      .storeBody
        .storeBody_info
          .storeBody_info_titleArea
            .storeBody_info_titleArea-text
              | 店舗情報
          .storeBody_info_body
            .storeBody_info_body_row
              .storeBody_info_body_row-header
                | 店舗名
              .storeBody_info_body_row-body
                input#storeName(
                  name="name" type="text"
                  value="\#{ fromMaybe mempty name }"
                )
            .storeBody_info_body_row
              .storeBody_info_body_row-header
                | カテゴリ
              .storeBody_info_body_row-body
                select#storeBusinessCategory(
                  name="businessCategory"
                )
                  option(value="" disabled)
                  | %{ forall category <- allBusinessCategories }
                  option(value="\#{key category}" #{isSelected businessCategory category}) \#{label category}
                  | %{ endforall }
            .storeBody_info_body_row
              .storeBody_info_body_row-header
                | 店舗の特徴
              .storeBody_info_body_row-body
                .checkboxGroup
                  | %{ forall categoryDetail <- (allBusinessCategoryDetails Nothing) }
                  .checkboxWrapper
                    input.checkbox(
                      id="storeTagsCommon-\#{key categoryDetail}"
                      type="checkbox" name="businessCategoryDetails"
                      value="\#{key categoryDetail}"
                      #{isChecked businessCategoryDetails categoryDetail}
                    )
                    label.checkboxLabel(for="storeTagsCommon-\#{key categoryDetail}")
                      | \#{label categoryDetail}
                  | %{ endforall }
                | %{ forall category <- allBusinessCategories }
                .checkboxGroup(data-subcategory-of="\#{key category}")
                  | %{ forall categoryDetail <- (allBusinessCategoryDetails (Just category))  }
                  .checkboxWrapper
                    input.checkbox(
                      id="storeTags\#{key category}-\#{key categoryDetail}"
                      type="checkbox" name="businessCategoryDetails"
                      value="\#{key categoryDetail}"
                      #{isChecked businessCategoryDetails categoryDetail}
                    )
                    label.checkboxLabel(for="storeTags\#{key category}-\#{key categoryDetail}")
                      | \#{label categoryDetail}
                  | %{ endforall }
                | %{ endforall }
            .storeBody_info_body_row
              .storeBody_info_body_row-header
                | 店舗の説明
              .storeBody_info_body_row-body
                textarea#storeSalesPoint(
                  name="salesPoint"
                  type="text"
                )
                  | \#{ fromMaybe mempty salesPoint }
            .storeBody_info_body_row
              .storeBody_info_body_row-header
                | 住所
              .storeBody_info_body_row-body
                .storeBody_info_body_row-body-address
                  input#storeAddress(
                    name="address" type="text"
                    value="\#{ fromMaybe mempty address }"
                  )
                .storeBody_info_body_row-body-map#js-map-frame-wrapper
                  | %{ case address }
                  | %{ of Just address }
                  iframe#js-map-frame.location_map-frame(
                    frameborder="0"
                    allowfullscreen
                    data-map-base-api='https://www.google.com/maps/embed/v1/place?key=' + data.googleMapApiKey + '&q='
                    src='https://www.google.com/maps/embed/v1/place?key=' + data.googleMapApiKey + '&q=\#{address}'
                  )
                  | %{ of Nothing }
                  iframe#js-map-frame.location_map-frame(
                    frameborder="0"
                    allowfullscreen
                    data-map-base-api='https://www.google.com/maps/embed/v1/place?key=' + data.googleMapApiKey + '&q='
                    aria-hidden="true"
                  )
                  | %{ endcase }
            .storeBody_info_body_row
              .storeBody_info_body_row-header
                | 電話番号
              .storeBody_info_body_row-body
                input#storePhoneNumber(
                  name="phoneNumber" type="text"
                  value="\#{ fromMaybe mempty phoneNumber }"
                )
            .storeBody_info_body_row
              .storeBody_info_body_row-header
                | 営業時間
              .storeBody_info_body_row-body
                textarea#storeBusinessHours(
                  name="businessHours" type="text"
                )
                  | %{ forall businessHourLine <- businessHourLines }
                  | \#{ businessHourLine }
                  | %{ endforall }
            .storeBody_info_body_row
              .storeBody_info_body_row-header
                | 定休日
              .storeBody_info_body_row-body
                textarea#storeRegularHoliday(
                  name="regularHoliday" type="text"
                )
                  | \#{ fromMaybe mempty regularHoliday }
            .storeBody_info_body_row
              .storeBody_info_body_row-header
                | オフィシャルサイト
              .storeBody_info_body_row-body
                input#storeUrl(
                  name="url" type="url"
                  value="\#{ fromMaybe mempty url }"
                )
            .storeBody_info_body_row
              .storeBody_info_body_row-header
                | 店舗イメージ画像
              .storeBody_info_body_row-body
                .uploaderWrapper
                  input#storeImageSelector.uploaderCore(
                    name="image" type="file" accept="image/*"
                  )
                  input#defaultImage(
                    name="defaultImage" type="hidden" value="\#{fromMaybe mempty defaultImage}"
                  )
                  | %{ case imageUrl }
                  | %{ of Just iUrl }
                  label#storeImageLabel.uploaderLabel
                  button.uploaderReset#resetImage(type="button")
                    | Restore initial image.
                  img#storeImage.uploaderImg.storeBody_info_body_row-body-image(
                    src="\#{iUrl}"
                  )
                  | %{ of Nothing }
                  label#storeImageLabel.uploaderLabel(for="storeImageSelector")
                  img#storeImage.uploaderImg.storeBody_info_body_row-body-image(
                  )
                  | %{ endcase }
            .storeSubmit
              button.btn.outerBtn(type="submit")
                | この内容で店舗情報を更新する
