- var data = htmlWebpackPlugin.options.data;
.coupon
  .card
    .card_header
      h2.card_header_text
        | \#{format StoreName coupon}
      .card_header_icon
        .icon.icon-fav.checkableIcon
          input#js-fav.checkableIcon-check.js-fav(type="checkbox" data-coupon-id="\#{format CouponId coupon}")
          label.checkableIcon-icon(for="js-fav")

    .annotatedImageGroup
      img.annotatedImageGroup-image(
        src="\#{format CouponImageUrl coupon}"
        alt="\#{format StoreName coupon}"
      )
      span.annotatedImageGroup-annotation 画像は一例です
    .card_body
      .card_body_title
        | \#{format Title coupon}

      .card_body_summary.highlightedBlock
        | %{ case format CouponType coupon }
        | %{ of CouponTypeDiscount }
        span.highlightedBlock-sub \#{format DiscountPercent coupon}
        span.highlightedBlock-main \#{format DiscountMinimumPrice coupon}

        | %{ of CouponTypeGift }
        span.highlightedBlock-sub \#{format GiftContent coupon}
        span.highlightedBlock-main \#{format GiftMinimumPrice coupon}
        span.highlightedBlock-main \#{format GiftReferencePrice coupon}

        | %{ of CouponTypeSet }
        span.highlightedBlock-sub \#{format SetContent coupon}
        span.highlightedBlock-main \#{format SetPrice coupon}
        span.highlightedBlock-main \#{format SetReferencePrice coupon}

        | %{ of CouponTypeOther }
        span.highlightedBlock-sub \#{format OtherContent coupon}

        | %{ endcase }


      .card_body_expiration
        span.card_body_expiration-title
          | 有効期限
        span.card_body_expiration-body
          | \#{format ValidFrom coupon}
          | \#{format ValidUntil coupon}
  .annotation ※ この画面を店舗でご提示ください
  .location
    .location_map
      iframe.location_map-frame.js-googleMap(
        frameborder="0"
        allowfullscreen
        data-api-key=data.googleMapApiKey
        data-address!="\#{format StoreAddress coupon}"
      )
  .aboutStore
    a.btn.outerBtn(href="\#{aboutStore}")
      | \#{format StoreName coupon}
  .moreContents
    | %{ case format CouponType coupon }
    | %{ of CouponTypeDiscount }
    |     %{ forall condition <- format DiscountOtherConditions coupon }
    p.moreContents_txt \#{condition}
    |     %{ endforall }

    | %{ of CouponTypeGift }
    |     %{ forall condition <- format GiftOtherConditions coupon }
    p.moreContents_txt \#{condition}
    |     %{ endforall }

    | %{ of CouponTypeSet }
    |     %{ forall condition <- format SetOtherConditions coupon }
    p.moreContents_txt \#{condition}
    |     %{ endforall }

    | %{ of CouponTypeOther }
    |     %{ forall condition <- format OtherConditions coupon }
    p.moreContents_txt \#{condition}
    |     %{ endforall }
    | %{ endcase }

  | %{ case pageViewer }
  | %{ of PageViewerStore }
  .deleteCoupon
    a.btn.outerBtn(
      href="\#{renderRoute storeCouponDeleteVarR (entityKey (couponCoupon coupon))}"
    )
      | クーポンの削除
  | %{ of _ }
  | %{ endcase}
