.couponSimple
  a.card(href="\#{renderRoute storeCouponVarR (key coupon)}")
    .annotatedImageGroup
      | %{ case format ImageUrl imageUrl }
      | %{ of Just url }
      img.annotatedImageGroup-image(
        src="\#{url}"
        alt="\#{format CouponTitle coupon}"
      )
      span.annotatedImageGroup-annotation 画像は一例です
      | %{ of _ }
      div
        | 画像が設定されていません
      | %{ endcase }
    .card_body
      .couponSimple_abstraction
        h2.couponSimple_abstraction-store \#{ format CouponTitle coupon }
        .couponSimple_abstraction-summary

          | %{ case format CouponCouponType coupon }
          | %{ of CouponTypeDiscount }
          span.couponSimple_abstraction-summary-sub \#{ format CouponDiscountPercent coupon }
          span.couponSimple_abstraction-summary-main \#{ format CouponDiscountMinimumPrice coupon }

          | %{ of CouponTypeGift }
          span.couponSimple_abstraction-summary-sub \#{ format CouponGiftContent coupon }
          span.couponSimple_abstraction-summary-main \#{ format CouponGiftMinimumPrice coupon }
          span.couponSimple_abstraction-summary-main \#{ format CouponGiftReferencePrice coupon }

          | %{ of CouponTypeSet }
          span.couponSimple_abstraction-summary-sub \#{ format CouponSetContent coupon }
          span.couponSimple_abstraction-summary-main \#{ format CouponSetPrice coupon }
          span.couponSimple_abstraction-summary-main \#{ format CouponSetReferencePrice coupon }

          | %{ of CouponTypeOther }
          span.couponSimple_abstraction-summary-sub \#{ format CouponOtherContent coupon }
          | %{ endcase }
