- var data = htmlWebpackPlugin.options.data;
.coupon
  .card
    .card_header
      h2.card_header_text
        | \#{format StoreName store}
      .card_header_icon
        .icon.icon-fav.checkableIcon
          input#js-fav.checkableIcon-check.js-fav(type="checkbox" data-coupon-id="\#{key coupon}")
          label.checkableIcon-icon(for="js-fav")
        .card_delete.js-deleteCoupon(data-coupon-id="\#{key coupon}")

    .annotatedImageGroup
      | %{ case format ImageUrl imageUrl }
      | %{ of Just url }
      img.annotatedImageGroup-image(
        src="\#{url}"
        alt="\#{format StoreName store}"
      )
      span.annotatedImageGroup-annotation 画像は一例です
      | %{ of _ }
      img.annotatedImageGroup-image(
        src=require("../../img/noimage.svg")
        alt="\#{format StoreName store}"
      )
      | %{ endcase }
    .card_body
      .card_body_title
        | \#{format CouponTitle coupon}

      .card_body_summary.highlightedBlock
        | %{ case format CouponCouponType coupon }
        | %{ of CouponTypeDiscount }
        span.highlightedBlock-sub \#{format CouponDiscountPercent coupon}
        span.highlightedBlock-main \#{format CouponDiscountMinimumPrice coupon}

        | %{ of CouponTypeGift }
        span.highlightedBlock-sub \#{format CouponGiftContent coupon}
        span.highlightedBlock-main \#{format CouponGiftMinimumPrice coupon}
        span.highlightedBlock-main \#{format CouponGiftReferencePrice coupon}

        | %{ of CouponTypeSet }
        span.highlightedBlock-sub \#{format CouponSetContent coupon}
        span.highlightedBlock-main \#{format CouponSetPrice coupon}
        span.highlightedBlock-main \#{format CouponSetReferencePrice coupon}

        | %{ of CouponTypeOther }
        span.highlightedBlock-sub \#{format CouponOtherContent coupon}

        | %{ endcase }


      .card_body_expiration
        span.card_body_expiration-title
          | 有効期限
        span.card_body_expiration-body
          | \#{format CouponValidFrom coupon}
          | \#{format CouponValidUntil coupon}
  .annotation ※ この画面を店舗でご提示ください
  .location
    .location_map
      iframe.location_map-frame.js-googleMap(
        frameborder="0"
        allowfullscreen
        data-api-key=data.googleMapApiKey
        data-address!="\#{format StoreAddress store}"
      )
  .aboutStore
    a.btn.outerBtn(href="\#{aboutStore}")
      | \#{format StoreName store}
  .moreContents
    | %{ case format CouponCouponType coupon }
    | %{ of CouponTypeDiscount }
    |     %{ forall condition <- format CouponDiscountOtherConditions coupon }
    p.moreContents_txt \#{condition}
    |     %{ endforall }

    | %{ of CouponTypeGift }
    |     %{ forall condition <- format CouponGiftOtherConditions coupon }
    p.moreContents_txt \#{condition}
    |     %{ endforall }

    | %{ of CouponTypeSet }
    |     %{ forall condition <- format CouponSetOtherConditions coupon }
    p.moreContents_txt \#{condition}
    |     %{ endforall }

    | %{ of CouponTypeOther }
    |     %{ forall condition <- format CouponOtherConditions coupon }
    p.moreContents_txt \#{condition}
    |     %{ endforall }
    | %{ endcase }
include ../common/_alertDialog
