.couponSimple
  a.card(href="\#{renderRoute storeCouponVarR couponKey}")
    .annotatedImageGroup
      img.annotatedImageGroup-image(
        src="\#{ fromMaybe mempty (awsImageUrlFunc (couponImage coupon))}"
        alt="\#{ couponTitle coupon }"
      )
      span.annotatedImageGroup-annotation 画像は一例です
    .card_body
      .couponSimple_abstraction
        h2.couponSimple_abstraction-store \#{ couponTitle coupon }
        .couponSimple_abstraction-summary

          | %{ case couponCouponType coupon }
          | %{ of CouponTypeDiscount }
          |     %{ case couponDiscountPercent coupon }
          |     %{ of Just discountPercent }
          span.couponSimple_abstraction-summary-sub \#{ discountPercent }% OFF
          |     %{ of Nothing }
          |     %{ endcase }

          |     %{ case couponDiscountMinimumPrice coupon }
          |     %{ of Just discountMinimumPrice }
          span.couponSimple_abstraction-summary-main \#{ discountMinimumPrice }円
          |     %{ of Nothing }
          |     %{ endcase }


          | %{ of CouponTypeGift }
          |     %{ case couponGiftContent coupon }
          |     %{ of Just giftContent }
          span.couponSimple_abstraction-summary-sub \#{ giftContent }
          |     %{ of Nothing }
          |     %{ endcase }

          |     %{ case couponGiftMinimumPrice coupon }
          |     %{ of Just giftMinimumPrice }
          span.couponSimple_abstraction-summary-main \#{ giftMinimumPrice }円
          |     %{ of Nothing }
          |     %{ endcase }

          |     %{ case couponGiftReferencePrice coupon }
          |     %{ of Just giftReferencePrice }
          span.couponSimple_abstraction-summary-main \#{ giftReferencePrice }円
          |     %{ of Nothing }
          |     %{ endcase }


          | %{ of CouponTypeSet }
          |     %{ case couponSetContent coupon }
          |     %{ of Just setContent }
          span.couponSimple_abstraction-summary-sub \#{ setContent }
          |     %{ of Nothing }
          |     %{ endcase }

          |     %{ case couponSetPrice coupon }
          |     %{ of Just setPrice }
          span.couponSimple_abstraction-summary-main \#{ setPrice }円
          |     %{ of Nothing }
          |     %{ endcase }

          |     %{ case couponSetReferencePrice coupon }
          |     %{ of Just setReferencePrice }
          span.couponSimple_abstraction-summary-main \#{ setReferencePrice }円
          |     %{ of Nothing }
          |     %{ endcase }


          | %{ of CouponTypeOther }
          |     %{ case couponOtherContent coupon }
          |     %{ of Just otherContent }
          span.couponSimple_abstraction-summary-sub \#{ otherContent }
          |     %{ of Nothing }
          |     %{ endcase }
          | %{ endcase }
